source_up

dotenv_if_exists

PATH_add $PWD
PATH_add $PWD/bin

export CAMEL_K_CONF="$PWD/data/application.properties"
export CAMEL_K_CONF_D="$PWD/data/conf.d"
#export CAMEL_K_ROUTES="file:$PWD/data/chains/kafka-to-qdrant.yaml,file:$PWD/data/chains/qdrant-create-collection.yaml"
export CAMEL_K_ROUTES="file:$PWD/data/chains/kafka-to-qdrant.yaml"
